# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*.info
*.psd
/Economic_Crisis/development
/Economic_Crisis/tests
/Economic_Crisis/.gitignore
/Economic_Crisis/.gitmodules
/Economic_Crisis/README.md
